<div class="system-menu">
  <%= link_to  employees_path do %>
    Payroll
  <% end %>
  <%= link_to  employees_path do %>
    Expenses
  <% end %>
  <%= link_to  employees_path do %>
    Budgets
  <% end %>
</div>