<div class="system-menu">
  <%= link_to employees_path, class: "system-menu__link" do %>
    <i class="system-menu__icon far fa-id-badge"></i>
    <span class="system-mebu__text">Payroll</span>
  <% end %>
  <%= link_to expenses_path, class: "system-menu__link"  do %>
    <i class="system-menu__icon far fa-credit-card"></i>
    <span class="system-mebu__text">Expenses</span>
  <% end %>
  <%= link_to budgets_path, class: "system-menu__link"  do %>
    <i class="system-menu__icon fas fa-comment-dollar"></i>
    <span class="system-mebu__text">Budgets</span>
  <% end %>
</div>