<div class="system-item <%= item.style_class ? item.style_class : "" %>">
  <div class="system-item__left"></div>
  <div class="system-item__body">
    <div class="system-item__title">
    <%= link_to item.title, item.link %></div>
    <div class="system-item__subtitle"><%= item.subtitle %></div>
  </div>
  <div class="system-item__right">
    <%= item %>
  </div>
</div>